{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ include('commons/_form_header.html.twig', {'current_nav_item': 'ethic'}) }}
{{ form_start(form, {attr: {class: 'form-request', 'data-number': '3'}}) }}
{{ form_row(form.population, {label_attr: {class: 'checkbox-custom'} }) }}
{{ form_row(form.amountParticipants) }}
{{ form_row(form.inExCriteria) }}
{{ form_row(form.recruitmentParticipants) }}
{{ form_row(form.collectionInformation) }}
{{ include('commons/_form_uploaded_file.html.twig', {'form_prototype': form.collectionInformationFiles.vars.prototype, 'files': ethic_eval_request.ethicEvalFiles, 'questionCode': 'collectionInformationFiles', 'delete_label': 'Eliminar'}) }}
{{ form_row(form.dataType, {label_attr: {class: 'checkbox-custom'} }) }}
{{ form_row(form.riskDeclaration) }}
{{ form_row(form.benefitsForParticipant) }}
{{ form_row(form.benefitsForPopulation) }}
{{ form_row(form.previsionsPrivacy) }}
{{ form_row(form.futureUse) }}
<div class="inline-custom-radio">
    {{ form_row(form.informedConsent, {attr: {'data-code': 'informedConsentFiles', class: 'decision_question'}, label_attr: {class: 'radio-custom'} }) }}
</div>
<div id="informedConsentFiles" class="d-none">
    {{ include('commons/_form_uploaded_file.html.twig', {'form_prototype': form.informedConsentFiles.vars.prototype, 'files': ethic_eval_request.ethicEvalFiles, 'questionCode': 'informedConsentFiles', 'delete_label': 'Eliminar'}) }}
    <small class="form-text text-muted">
        <span class="file-advice">*Campo obligatorio.</span>
        Permite la subida de archivos en formatos PDF, DOC/DOCX, ODT, PNG, JPG, PPT/PPTX, con un peso máximo de 40MB.</small>
    <hr>
</div>

<div class="inline-custom-radio">
    {{ form_row(form.informedAssent, {attr: {'data-code': 'informedAssentFiles', class: 'decision_question'}, label_attr: {class: 'radio-custom'} }) }}
</div>
<div id="informedAssentFiles" class="d-none">

    {{ include('commons/_form_uploaded_file.html.twig', {'form_prototype': form.informedAssentFiles.vars.prototype, 'files': ethic_eval_request.ethicEvalFiles, 'questionCode': 'informedAssentFiles', 'delete_label': 'Eliminar'}) }}
    <small class="form-text text-muted">
        <span class="file-advice">*Campo obligatorio.</span>
        Permite la subida de archivos en formatos PDF, DOC/DOCX, ODT, PNG, JPG, PPT/PPTX, con un peso máximo de 40MB.</small>
    <hr>
</div>


{{ form_end(form) }}
{{ include('commons/_form_footer.html.twig', {'finish': 1}) }}
{{ include('commons/_modal_validate_user.html.twig') }}
{{ include('commons/_modal_info.html.twig') }}

<script>
  console.log('readi');
  $( document ).ready(function() {
    function show_popup(){
    console.log( "ready!" );
    $( "#ethic_eval_request_population" ).prev().css( {"width": "auto","position":"relative" });
    $( "#ethic_eval_request_population" ).parent().find("legend").append('<a class="toolbox" href="javascript:void(0)" onClick="divFunction(this)" id="ethic_eval_request_population_modal">?</a>');
    //2
    $( "#ethic_eval_request_inExCriteria" ).prev().css( {"width": "auto","position":"relative" });
    $( "#ethic_eval_request_inExCriteria" ).parent().find("label").append('<a class="toolbox" href="javascript:void(0)" onClick="divFunction(this)" id="ethic_eval_request_inExCriteria_modal">?</a>');
    //3
    $( "#ethic_eval_request_dataType" ).prev().css( {"width": "auto","position":"relative" });
    $( "#ethic_eval_request_dataType" ).parent().find("legend").append('<a class="toolbox" href="javascript:void(0)" onClick="divFunction(this)" id="ethic_eval_request_dataType_modal">?</a>');
    //4
    $( "#ethic_eval_request_informedAssent" ).prev().css( {"width": "auto","position":"relative" });
    $( "#ethic_eval_request_informedAssent" ).parent().find("legend").append('<a class="toolbox" href="javascript:void(0)" onClick="divFunction(this)" id="ethic_eval_request_informedAssent_modal">?</a>');
    
    }
    window.setTimeout( show_popup, 500 ); // 5 seconds

});
  function divFunction(){
    console.log(this);
    console.log(this.document.activeElement.id);

    let id = this.document.activeElement.id

    jQuery('#'+id+'_open').modal('show');

  }
</script>

