{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ include('commons/_form_header.html.twig', {'current_nav_item': 'academic'}) }}
{{ form_start(form, {attr: {class: 'form-request', 'data-number': '2'}}) }}
{% if app.user.role.description == "ROLE_RESEARCHER" %}
    <div class="form-group">
        <p>
            <label>Resumen del estudio</label>
            {# <label>Resumen del estudio (antecedentes y justificación):</label> #}
        </p>

        {% if shortDescripProyect %}
            {# <textarea class="form-control" name="" id="" rows="12" >{{SipProject.antecedentes|raw|striptags|convert_encoding('UTF-8', 'ISO-8859-1//TRANSLIT')}}{{SipProject.jusitificacion|striptags|raw|default('Sin datos')}}</textarea> dsc_proyecto #}
            <div class="textareas-form">
            {# {% autoescape %}
            {{SipProjectExtraInformation.DSC_ANTECEDENTE|raw}}
            {% endautoescape %}
            {{SipProjectExtraInformation.DSC_JUSTIFICACION|striptags}} #}

            {{shortDescripProyect.DSC_PROYECTO}}

            </div>
        {% else %}
            <textarea class="form-control" name="" id="" rows="2" disabled>{{"Sin datos"}}</textarea>
        {% endif %}
    </div>
{% endif %}
 

{% if app.user.role.description == "ROLE_RESEARCHER" %}
<div class="form-group">
    <p>
        <label>Objetivos:</label>
    </p>
</div>
    <div class="form-group">
        <p style="font-weight: bold;">
            2.2.1 Objetivo Principal:
        </p>
        {% if objetivoGeneral %}
            <textarea class="form-control" name="" id="" rows="6" disabled>{{objetivoGeneral.dsc_objgeneral|striptags|raw|default('Sin datos')}}</textarea>
        {% else %}
            <textarea class="form-control" name="" id="" rows="2" disabled>{{"Sin datos"}}</textarea>
        {% endif %}

    </div>
    {# {{dump(SipProjectObjAndGoals)}} #}
    <div class="form-group">
        <p style="font-weight: bold;">
            2.2.2 Objetivos Específicos:
        </p>
        {% if SipProjectObjAndGoals %}
            <div class="textareas-form">
                {% for obj in SipProjectObjAndGoals %}
                    <p class="font-weight-bolder">Objetivo específico {{obj.ID_OBJETIVO_ESPECIFICO}}</p>
                    <p>{{obj.DSC_OBJETIVO_ESPECIFICO}}</p>
                    <p class="font-italic">Meta {{obj.ID_META}} Cantidad: {{obj.CANTIDAD_CUANTITATIVA}}.00</p>                    
                    <p class="font-weight-bold">Indicador {{obj.ID_INDICADOR}}</p>
                    <p>{{obj.DSC_INDICADOR}}</p>
                    <hr>
                {% endfor %}
            </div>
        {% else %}
            <textarea class="form-control" name="" id="" rows="2" disabled>{{"Sin datos"}}</textarea>
        {% endif %}

    </div>
    {# <div class="form-group">
        <p style="font-weight: bold;">
            2.2.2 Objetivos Específicos:
        </p>
        {% if objetivoPrincipal %}
            <textarea class="form-control" name="" id="" rows="6" disabled>{{objetivoPrincipal.DSC_OBJETIVO_ESPECIFICO|default('Sin datos')|striptags|raw}}</textarea>
        {% else %}
            <textarea class="form-control" name="" id="" rows="2" disabled>{{"Sin datos"}}</textarea>
        {% endif %}

    </div> #}
    
{% endif %}
<div class="d-none">
    {# {{ form_row(form.objetives) }}  #}
    {# {{ form_row(form.summaryObserv) }}  #}
</div>
{{ form_row(form.questions) }}
{{ form_row(form.hypothesis) }}
{{ form_row(form.invType, {label_attr: {class: 'checkbox-custom'} }) }}
{% if app.user.role.description == "ROLE_RESEARCHER" %}
    {# <div class="form-group">
        <label>Descripción resumida de la metodología del estudio incluyendo la interacción con participantes humanos y toma de muestras biológicas –si aplica:</label>
        </p>
        {% if SipProjectExtraInformation %}
            <div class="textareas-form">
            {{SipProjectExtraInformation.DSC_METODOLOGIA|striptags|raw}}
            </div>
        {% else %}
            <textarea class="form-control" name="" id="" rows="2" disabled>{{"Sin datos"}}</textarea>
        {% endif %}

    </div> #}
{% endif %}
{# <p><strong>Otros (especifique):</strong></p> #}
<div class="form-group">
<p><label>Descripción resumida de la metodología:</label></p>
{{ form_row(form.metodologyObserv) }}
</div>
{{ form_end(form) }}
{{ include('commons/_form_footer.html.twig', {'button_label':'Guardar y continuar'}) }}
{{ include('commons/_modal_info.html.twig') }}
{# <div contenteditable="true">
{{SipProject.antecedentes|raw}}
</div>#}
 {# <pre> 
    {{ dump(SipProjectExtraInformation) }}
</pre>  #}

{# <pre>
    {{ dump(objetivoPrincipal) }}
</pre>   #}

<script>
  console.log('readi');
  $( document ).ready(function() {
    function show_popup(){
    console.log( "ready!" );
    $( "#academic_request_info_hypothesis" ).prev().css( {"width": "auto","position":"relative" });
    $( "#academic_request_info_hypothesis" ).parent().find("label").append('<a class="toolbox" href="javascript:void(0)" onClick="divFunction(this)" id="academic_request_info_hypothesis_modal">?</a>');
    
    }
    window.setTimeout( show_popup, 500 ); // 5 seconds

});
  function divFunction(){
    console.log(this);
    console.log(this.document.activeElement.id);

    let id = this.document.activeElement.id

    jQuery('#'+id+'_open').modal('show');

  }
</script>
