{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ include('commons/_form_header.html.twig', {'current_nav_item': 'academic'}) }}
{{ form_start(form, {attr: {class: 'form-request', 'data-number': '2'}}) }}
{% if app.user.role.description == "ROLE_RESEARCHER" %}
    <div class="form-group">
        <p>
            <strong>Resumen del estudio (antecedentes y justificación):</strong>
        </p>

        {% if SipProjectExtraInformation %}
            {# <textarea class="form-control" name="" id="" rows="12" >{{SipProject.antecedentes|raw|striptags|convert_encoding('UTF-8', 'ISO-8859-1//TRANSLIT')}}{{SipProject.jusitificacion|striptags|raw|default('Sin datos')}}</textarea> #}
            <div class="textareas-form">
            {% autoescape %}
            {{SipProjectExtraInformation.DSC_ANTECEDENTE|raw}}
            {% endautoescape %}
            {{SipProjectExtraInformation.DSC_JUSTIFICACION|striptags}}

            </div>
        {% else %}
            <textarea class="form-control" name="" id="" rows="2" disabled>{{"Sin datos"}}</textarea>
        {% endif %}
    </div>
{% endif %}
{{ form_row(form.summaryObserv) }}
{% if app.user.role.description == "ROLE_RESEARCHER" %}
    <div class="form-group">
        <p>
            <label>Objetivo principal:</label>
        </p>
        {% if objetivoGeneral %}
            <textarea class="form-control" name="" id="" rows="6" disabled>{{objetivoGeneral.dsc_objgeneral|striptags|raw|default('Sin datos')}}</textarea>
        {% else %}
            <textarea class="form-control" name="" id="" rows="2" disabled>{{"Sin datos"}}</textarea>
        {% endif %}

    </div>
    <div class="form-group">
        <p>
            <label>Objetivos:</label>
        </p>
        {% if objetivoPrincipal %}
            <textarea class="form-control" name="" id="" rows="6" disabled>{{objetivoPrincipal.DSC_OBJETIVO_ESPECIFICO|default('Sin datos')|striptags|raw}}</textarea>
        {% else %}
            <textarea class="form-control" name="" id="" rows="2" disabled>{{"Sin datos"}}</textarea>
        {% endif %}

    </div>
    
{% endif %}
<div class="d-none">
{# {{ form_row(form.objetives) }} #}
</div>
{{ form_row(form.questions) }}
{{ form_row(form.hypothesis) }}
{{ form_row(form.invType, {label_attr: {class: 'checkbox-custom'} }) }}
{% if app.user.role.description == "ROLE_RESEARCHER" %}
    <div class="form-group">
        <label>Descripción resumida de la metodología del estudio incluyendo la interacción con participantes humanos y toma de muestras biológicas –si aplica:</label>
        </p>
        {% if SipProjectExtraInformation %}
            {# <textarea class="form-control" name="" id="" rows="10" disabled>{{SipProject.metodologia|striptags|raw|default('Sin datos')}}</textarea> #}
            <div class="textareas-form">
            {{SipProjectExtraInformation.DSC_METODOLOGIA|striptags|raw}}
            </div>
        {% else %}
            <textarea class="form-control" name="" id="" rows="2" disabled>{{"Sin datos"}}</textarea>
        {% endif %}

    </div>
{% endif %}
<p><strong>Otros (especifique):</strong></p>
{{ form_row(form.metodologyObserv) }}
{{ form_end(form) }}
{{ include('commons/_form_footer.html.twig', {'button_label':'Guardar y continuar'}) }}
{{ include('commons/_modal_info.html.twig') }}
{# <div contenteditable="true">
{{SipProject.antecedentes|raw}}
</div>#}
 {# <pre> 
    {{ dump(SipProjectExtraInformation) }}
</pre>  #}

{# <pre>
    {{ dump(objetivoPrincipal) }}
</pre>   #}

<script>
  console.log('readi');
  $( document ).ready(function() {
    function show_popup(){
    console.log( "ready!" );
    $( "#academic_request_info_hypothesis" ).prev().css( {"width": "auto","position":"relative" });
    $( "#academic_request_info_hypothesis" ).parent().find("label").append('<a class="toolbox" href="javascript:void(0)" onClick="divFunction(this)" id="academic_request_info_hypothesis_modal">?</a>');
    
    }
    window.setTimeout( show_popup, 500 ); // 5 seconds

});
  function divFunction(){
    console.log(this);
    console.log(this.document.activeElement.id);

    let id = this.document.activeElement.id

    jQuery('#'+id+'_open').modal('show');

  }
</script>
