{% form_theme form 'bootstrap_4_layout.html.twig' %}

<p class="title-form-evals">{{'PARA USO EXLUSIVO DEL COMITÉ ETICO CIENTÍFICO'|upper}}</p>
<!--Accordion wrapper-->
<div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

    <!-- Accordion card -->
    <div class="card">

        <!-- Card header -->
        <div class="card-header" role="tab" id="headingOne1">
            <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                <h5 class="mb-0">
                    Dictamen de solicitud
                </h5>
            </a>
        </div>

        <!-- Card body -->
        <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
            <div class="card-body">
                
                {# {{ form_widget(form) }} #}
                {{ form_start(form, {attr: {class: 'form-eval'}}) }}
                {{ form_row(form.category, {label_attr: {class: 'radio-custom no-label'} }) }}
                {{ form_row(form.status, {label_attr: {class: 'radio-custom no-label'} }) }}
                {{ form_row(form.observations, {label_attr: {class: 'no-label'} }) }}
                {# {{ form_row(form.fakeFiles, {label_attr: {class: 'no-label'} }) }} #}

				<div class="form-group " id="project_principal_researchers">
					<label class="no-label" for="project_request_extInstitutions">Documentos relacionados con este dictamen</label>
				

				{{ include('commons/_form_uploaded_file.html.twig', {'form_prototype': form.fakeFiles.vars.prototype, 'files': eval[0].files, 'questionCode': 'evalFiles', 'delete_label': 'Eliminar'}) }}
				</div>
				<br>
				<div class="form-group " id="project_principal_researchers">
					<label class="no-label" for="project_request_extInstitutions">Hojas de evaluación</label>
				

				{{ include('commons/_form_uploaded_file.html.twig', {'form_prototype': form.fakeFilesHojasEval.vars.prototype, 'files': eval[0].files, 'questionCode': 'evalFilesHojasEval', 'delete_label': 'Eliminar'}) }}
				</div>

                {# <button class="btn">{{ button_label|default('Save') }}</button> #}
                {{ form_end(form) }}

                {% set active_btn_admin = false %}
                {% if app.user.role.description == "ROLE_ADMIN" %}
                    {% set active_btn_admin = true %}
                    {{ include('commons/_form_footer.html.twig', {'button_label':'Enviar dictamen', 'button_label_save': 'Guardar sin enviar', 'finish': 1,'active_btn_admin': active_btn_admin, 'flag': 1 }) }}
                {% else %}
                    {{ include('commons/_form_footer.html.twig', {'button_label':'Enviar dictamen', 'button_label_save': 'Guardar sin enviar', 'finish': 1,'active_btn_admin': active_btn_admin,'flag': 0}) }}
                {% endif %}
                
                {{ include('commons/_modal_validate_user.html.twig') }}
            </div>
        </div>

    </div>
    <!-- Accordion card -->

</div>
<!-- Accordion wrapper -->
{% if pre_eval_info %}
<p class="title-table-index">
	{{'RESULTADOS DE EVALUACIÓN DE LA SOLICITUD'|upper}}
</p>
<p class="label">
	<strong>
		Revisión de solicitud
	</strong>
</p>
{% for pei in pre_eval_info %}
	<div class="text-box">
		<p>
			<strong>
				Fecha:
			</strong>
		</p>
		<p class="text-muted font-italic">
			{{pei.date|date("d/m/Y g:ia")}}
		</p>
	</div>
	<div class="text-box">
		<p>
			<strong>
				Estado de la revisión:
			</strong>
		</p>
		<p class="text-muted font-italic">
			{{pei.status}}
		</p>
	</div>
	<div class="text-box">
		<p>
			<strong>
				Observaciones:
			</strong>
		</p>
		<p class="text-muted font-italic">
			{{pei.observations}}
		</p>
	</div>
	<hr>

{% endfor %}{% endif %}{% if eval_info %}
<hr>
<p class="title-table-index">
RESULTADOS DE EVALUACIÓN DE LA SOLICITUD</p>
<p class="label">
	<strong>
		Dictamen de solicitud
	</strong>
</p>
{% for pei in eval_info %}
	<div class="text-box">
		<p>
			<strong>
				Fecha:
			</strong>
		</p>
		<p class="text-muted font-italic">
			{{pei.date|date("d/m/Y g:ia")}}
		</p>
	</div>
	<div class="text-box">
		<p>
			<strong>
				La presente propuesta es de tipo:
			</strong>
		</p>

		<p class="text-muted font-italic">
			{{pei.category}}
		</p>
	</div>
	<div class="text-box">
		<p>
			<strong>
				Estado de la revisión:
			</strong>
		</p>
		<p class="text-muted font-italic">
			{{pei.status}}
		</p>
	</div>
	<div class="text-box">
		<p>
			<strong>
				Observaciones:
			</strong>
		</p>
		<p class="text-muted font-italic">
			{{pei.observations}}
		</p>
	</div>
	<hr>

{% endfor %}{% endif %}

<script>
    console.log('readi');
    jQuery("[for='eval_request_status_36']").append('<a class="toolbox" href="#" data-placement="right" data-toggle="tooltip" title="Se aprueban sin ningún tipo de objeción, en el marco de una sesión ordinaria o extraordinaria del CEC">?</a>');
    jQuery("[for='eval_request_status_37']").append('<a class="toolbox" href="#" data-placement="right" data-toggle="tooltip" title="Solicitud cuya aprobación definitiva, depende del cumplimiento de un requisito o requisitos mínimos">?</a>');
    jQuery("[for='eval_request_status_38']").append('<a class="toolbox" href="#" data-placement="right" data-toggle="tooltip" title="Se devuelve al solicitante para subsane o corrección">?</a>');
    jQuery("[for='eval_request_status_39']").append('<a class="toolbox" href="#" data-placement="right" data-toggle="tooltip" title="No implica ningún peligro ni comprometen a los participantes">?</a>');
    jQuery("[for='eval_request_status_40']").append('<a class="toolbox" href="#" data-placement="right" data-toggle="tooltip" title="Incumple con requisitos de las consideraciones éticas, previstos en la Ley 9234, el Reglamento UCR y los Lineamientos del CEC">?</a>');
    jQuery("[for='eval_request_status_42']").append('<a class="toolbox" href="#" data-placement="right" data-toggle="tooltip" title="Se devuelve al solicitante para subsane o corrección">?</a>');


    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
