{% extends 'base.html.twig' %}

{% block title %}New EvalRequest{% endblock %}

{% block body %}
    {# <h1>Create new EvalRequest</h1> #}

    {{ include('project_request/details.html.twig', 
    {'project_request': project_request,
    'project_info': project_info,
    'projectId_getMinuteCommissionTFG': projectId_getMinuteCommissionTFG,
    'academicRequestInfo': academicRequestInfo,
    'ethicEvalRequest': ethicEvalRequest,
    'SipProjectExtraInformation': SipProjectExtraInformation,
    'SipProject': SipProject,
    'objetivoPrincipal': objetivoPrincipal}) }}
    <table class="table">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Acción</th>
        <th>Usuario</th>
        <th>Rol</th>
        <th>Observaciones</th>
      </tr>
    </thead>
    <tbody>
      {% if requestLogs|length > 0 %}
        {% for requestLog in requestLogs %}
          <tr>
            <td class="text-bold">
              {{ requestLog.date|date("d/m/Y g:ia") }}
            </td>
            <td>{{ requestLog.description }}</td>
            <td>{{ requestLog.user.name }}</td>
            <td>
            {# {{ requestLog.user.role.description }} #}
            {% if requestLog.user.role.description == "ROLE_ADMIN" %}
                    Administrador
                {% elseif requestLog.user.role.description == "ROLE_STUDENT" %}
                    Estudiante                                  
                {% elseif requestLog.user.role.description == "ROLE_RESEARCHER" %}
                    Investigador
                {% elseif requestLog.user.role.description == "ROLE_EVALUATOR" %}
                    Evaluador
                {% endif %}
            </td>
            <td>{{ requestLog.observations|default('N/A') }}</td>
          </tr>
        {% else %}
          <tr>
            <td colspan="11">No hay evaluaciones previas</td>
          </tr>
        {% endfor %}
      {% endif %}
    </tbody>
  </table>

    {{ include('eval_request/_form.html.twig') }}

    {# <a href="{{ path('eval_request_index') }}">back to list</a> #}
{% endblock %}
