{% extends 'base.html.twig' %}

{% block title %}ProjectRequest index{% endblock %}

{% block body %}
    <h1>Solicitudes</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nº de solicitud</th>
                <th>Título</th>
                <th colspan="2">Estado</th>
            </tr>
        </thead>
        <tbody>
        {% for project_request in project_requests %}
            <tr>
                <td>CEC-{{ project_request.id }}</td>
                <td>{{ project_request.title }}</td>
                <td>{{ project_request.state }}</td>
                <td>
                    <a href="{{ path('project_request_show', {'id': project_request.id}) }}">show</a>
                    <a href="{{ path('project_request_edit', {'id': project_request.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('project_request_new') }}">Create new</a>
{% endblock %}
