{% extends 'base.html.twig' %}

{% block specific_stylesheets %}
  {{ encore_entry_link_tags('evaluator') }}
{% endblock %}
{% block body %}

    <p class="title-table-index">SEGUIMIENTO DE SOLICITUDES DE REVISIÓN</p>
    <table class="table">
        <thead>
            <tr>
                <th>Nº de solicitud</th>
                <th>
                    {% if app.user.role.description == "ROLE_RESEARCHER" %}
                        Título de proyecto
                    {% elseif app.user.role.description == "ROLE_STUDENT" %}
                        Título de Trabajo final de graduación
                    {% else %}
                        Título de proyecto
                    {% endif %}
                </th>
                {% if app.user.role.description == "ROLE_ADMIN" %}
                    <th>Investigador / estudiante</th>
                    <th>Unidad</th>
                {% endif %}
                <th colspan="2">Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for project_request in project_requests %}
                <tr>
                    <td class="text-bold">
                        <span>CEC-{{ project_request.id }}-{{ project_request.date|date("Y")[2:3] }}</span>
                    </td>
                    <td>
                        <span>{{ project_request.title }}</span>
                    </td>
                    {% if app.user.role.description == "ROLE_ADMIN" %}
                        <td>{{ project_request.owner.name }}</td>
                        <td>{{ project_request.sipProject }}</td>
                    {% endif %}
                    <td class="d-flex justify-content-between">
                        <span>{{ project_request.state.description }}</span>



            {% if app.user.role.description == "ROLE_ADMIN" %}
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Asignar
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu checkbox-menu allow-focus evaluator_list_assigment">
                  {% for evaluator in evaluators %}
                    <li>
                      <label>
                        <input type="checkbox" name="evaluators" value="{{ evaluator.id }}" checked="">
                        {{ evaluator.name }}
                      </label>
                    </li>
                  {% endfor %}
                  <li>
                    <button class="btn btn-primary btn-sm mx-auto d-block evaluator_list_assigment--btn-complete" data-request="{{ project_request.id }}" data-path="{{ path("assigment_evaluator_to_request") }}">Completar</button>
                  </li>
                </ul>
              </div>
            {% elseif app.user.role.description == "ROLE_STUDENT" or  app.user.role.description == "ROLE_RESEARCHER"%}
              {% if project_request.state.id == 27 %}
                <a class="btn-blue" href="{{ path('project_request_edit', {'id': project_request.id}) }}">Completar</a>
              {% endif %}
            {% endif %}

          </td>
        </tr>
      {% else %}
        <tr>
          <td colspan="11">Solicitudes no encontradas</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if app.user.role.description == "ROLE_ADMIN" or app.user.role.description == "ROLE_EVALUATOR" %}

  {% else %}
    <button type="button" class="btn btn-primary btn-lg btn-open-modalnew" data-toggle="modal" data-target="#new_project">
      NUEVA SOLICITUD DE REVISIÓN
    </button>
  {% endif %}
  <!-- Modal -->
  <div class="modal fade" id="new_project" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div
        class="modal-content">
        <div class="modal-body">
          <h4>Instrucciones</h4>
          <p>Lea con detenimiento esta información antes de completar la solicitud.</p>
          <p>Este formulario se compone de 3 bloques:</p>

          <hr>
          <ul class="nav justify-content-center nav-pills">
            <li class="d-flex align-items-center form_header_nav_item  form_header_nav_item--active " data-target="info">
              <span class="nav_step">1</span>
              <a class="form_header_nav_item_link" href="#">Información del proyecto</a>
            </li>
            <li class="d-flex align-items-center form_header_nav_item " data-target="academic">
              <span class="nav_step">2</span>
              <a class="form_header_nav_item_link" href="#">Descripción académica y científica</a>
            </li>
            <li class="d-flex align-items-center form_header_nav_item " data-target="ethic">
              <span class="nav_step">3</span>
              <a class="form_header_nav_item_link" href="#">Evaluación ética</a>
            </li>
          </ul>
          <hr>
          <p>Podrá guardar el formulario en cualquier momento usando el botón
            <span class="text-color-green">“GUARDAR”</span>. Podrá avanzar al siguiente bloque usando el botón
            <span class="text-color-green">“GUARDAR Y CONTINUAR”</span>
            o navegar a través del formulario usando la navegación superior.
            Al terminar el tercer bloque, podrá enviar su solicitud.</p>
          <a class="btn btn-primary" href="{{ path('tab_general_info_request_new') }}">Empezar</a>
        </div>

        <button type="button" class="btn btn-close-modalnew" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
{% endblock %}
{% block specific_javascripts %}
  {{ encore_entry_script_tags('evaluator') }}
{% endblock %}
