{% extends 'base.html.twig' %}

{% block body %}

<div class="page-help">
<div class="d-flex justify-content-center">
<div class="col-sm-8">
    <h3>Guía de usuario Introducción</h3>
    <h4>Introducción</h4>
    <p>
    El sistema de evaluación ética para la investigación con seres humanos del Comité Ético Científico, permite gestionar de manera virtual y totalmente digital, el proceso de solicitud de evalquación ética de las investigaciones realizadas en el marco de la Universidad de Costa Rica, ya sean proyectos de investigación o trabajos finales de graduación (TFG).
    </p><p>
Deberán presentar una solicitud todas estas investigaciones que en su proceso requieran:
    </p>
<ul>
<li>
la participación de seres humanos: biomédica intervencional u observacional o sociocultural
</li>
<li>la revisión de información documental de seres humanos.</li>
</ul>
<p>Todo el proceso de solicitud y evaluación se realiza de forma virtual y en esta misma plataforma podrá dar seguimiento al proceso de evaluación de su solicitud. No es necesario que presente la documentación de forma</p> 

<img class="img-help" src="{{ asset('images/cec-guia-flujo.png') }}" alt="CEC"/>
 <h4>Requisitos</h4>
<p>Los requisitos mínimos para poder hacer uso de este sistema son:</p>
<ul>
<li>
Contar con una conexión a Intenet estable.
</li>
<li>
Usar un navegador web actualizado (este sistema no tiene soporte para Internet Explorer 10 o anteriores)
</li>
<li>
A la hora del llenado de la solicitud, debe contar con toda la información del proyecto o Trabajo Final de
Graduación definida, de modo que pueda completar todos los campos solicitados.</li>
<li>También se necesita tener disponible toda la documentación que requiera adjuntar como anexos y digitalizada (docs/docx, xls/xlsx, ppt/pptx, pdf, png, jpg), ya que no podrá hacer el envío final sin los documentos correspondientes anexados.</li>
</ul>

<h4>Proceso de solicitud</h4> 
<h5>Ingreso</h5>
<ul>
<li>1. Vaya al siguiente enlace: <a href="http://formularioscec.ucr.ac.cr/" target="_blank">http://formularioscec.ucr.ac.cr/</a>  </li>
<li>2. En la pantalla principal, ingrese sus datos personales:</li>
</ul>

<img class="img-help" src="{{ asset('images/cec-guia-login.png') }}" alt="CEC"/>
<ul>
<li>
3. Pulse el botón “INGRESAR”.
</li>
</ul>
<h5>Seguimiento de solicitudes</h5>
<p>Desde esta página puede:</p>
<ul>
<li>a) Crear una nueva solicitud de evaluación de proyecto o TFG.</li>
<li>b) Completar formularios de solicitudes que estén en proceso.</li>
<li>c) Dar seguimiento al estado de solicitudes activas o revisar las finalizadas.</li>
</ul>
<img class="img-help" src="{{ asset('images/cec-guia-usermenu.png') }}" alt="CEC"/>
<img class="img-help" src="{{ asset('images/cec-guia-seguimiento.png') }}" alt="CEC"/>
<img class="img-help" src="{{ asset('images/cec-guia-instrucciones.png') }}" alt="CEC"/>
<p>
Todo formulario se compone de tres bloques. Tome en cuenta que: a) el botón de <span class="txt-green">“Guardar”</span> al final de cada bloque, le permite guardar su avance, b) el botón <span class="txt-green">“Guardar y continuar”</span> le da acceso al siguiente bloque, c) puede hacer uso de la navegación superior para regresar o avanzar entre bloques.
</p>

<img class="img-help" src="{{ asset('images/cec-guia-tabs.png') }}" alt="CEC"/>
<p>El primer ítem del formulario, corresponde al código del proyecto.</p>
<ul>
<li>
Si es investigador, verá una casilla como la siguiente: use el código de propuesta asignada en SIPPRES con el formato completo, por ejemplo XXXX-XXXX. No coloque espacios.
</li>
<li>Para llevar a cabo este proceso de solicitud, su propuesta de proyecto debe haber sido aprobada por la Comisión o el Consejo Científico y debidamente aprobada en SIPPRES por el director de la unidad correspondiente. </li>
<li>Luego oprima el botón "Cargar información".</li>
<li>Si es estudiante, complete el campo simple que se le presenta con el nombre del proyecto de graduación.</li>
</ul>
<img class="img-help" src="{{ asset('images/cec-guia-proyecto.png') }}" alt="CEC"/>
<p>Complete el formulario llenando los campos con la información requerida en cada caso. Nótese que algunos campos son requeridos.Podrá además consultar la información de apoyo que se colocó en algunas preguntas, colocando su ratón sobre el ícono (?)</p>
<img class="img-help" src="{{ asset('images/cec-guia-campos.png') }}" alt="CEC"/>

<p>Al final del bloque 3 “Evaluación ética”, se encuentran los botones de “Guardar” o “Guardar y enviar”, esta segunda alternativa da por concluido el trabajo sobre el formulario, sin opción de hacer más cambios. Una pantalla de validación le avisara que está a punto de enviar el material.</p>
<img class="img-help" src="{{ asset('images/cec-guia-confirmacion.png') }}" alt="CEC"/>
<h5>Correo de confirmación </h5>
<p>
Una vez enviada su solicitud, el sistema le enviará un correo de confirmación como el siguiente. También será notificado cuando la solicitud sea evaluada.
</p>
<img class="img-help" src="{{ asset('images/cec-guia-correo.png') }}" alt="CEC"/>
<hr>
<h3>Preguntas frecuentes </h3>
<h4>
¿Cuál son mis credenciales institucionales?</h4>
<p>
Vestibulum non bibendum nibh. Donec commodo fermentum mauris, suscipit maximus metus molestie quis. Proin
augue tellus, efficitur sed pellentesque in, porta eget diam. Sed lectus felis, congue a consequat et, auctor nec libero. Vestibulum non bibendum nibh. Donec commodo fermentum mauris, suscipit maximus metus molestie quis. de la Universidad de Costa Rica, ya sean proyectos de investigación o trabajos Proin augue tellus, efficitur sed pellentesque in, porta eget diam. Sed lectus felis, congue a consequat et, auctorfinales de graduación , que requieran: nec libero.</p>
<h4>
¿Soy estudiante, cómo ingreso al sistema?</h4>
<p>Vestibulum non bibendum nibh. Donec commodo fermentum mauris, suscipit maximus metus molestie quis. Proin augue tellus, efficitur sed pellentesque in, porta eget diam. Sed lectus felis, congue a consequat et, auctor nec libero.</p>
<h4>
¿Cómo cambio mi información personal?</h4>
<p>Vestibulum non bibendum nibh. Donec commodo fermentum mauris, suscipit maximus metus molestie quis. Proin augue tellus, efficitur sed pellentesque in, porta eget diam. Sed lectus felis, congue a consequat et, auctor nec libero. Vestibulum non bibendum nibh. Donec commodo fermentum mauris, suscipit maximus metus molestie quis. Proin augue tellus, efficitur sed pellentesque in, porta eget diam. Sed lectus felis, congue a consequat et, auctor nec libero.</p>


</div>
</div>

</div>

{% endblock %}
