<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}CEC | Sistema de evaluación ética para la investigación con seres humanos{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% block stylesheets %}
            {{ encore_entry_link_tags('variables') }}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('forms') }}
        {% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>
    <body>
        <div class="header">
            <div class="container">
                <a href="https://ucr.ac.cr" target="_blank">
                <img src="{{ asset('images/logo_header_ucr.png') }}" alt="CEC"/>
                </a>
            </div>
        </div>
        <div class="header-title">
            <div class="container">
                <div class="row menu-user-box">
                    <div class="col">
                        <h2>COMITÉ ÉTICO CIENTÍFICO</h2>
                        <p style="margin: 0;">Sistema de evaluación ética para la investigación con seres humanos</p>
                    </div>
                    {% if app.user %}
                        <div class="dropdown menu-user">
                            <button class="btn-menu-user dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{app.user.name|lower}}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">SEGUIMIENTO DE SOLICITUDES</a>
                                <a class="dropdown-item" href="#">AYUDA</a>
                                <a class="dropdown-item" href="{{path("app_logout")}}">CERRAR SESIÓN</a>
                            </div>
                        </div>

                    {% else %}
                        <a class="ingreso-admin-home" href="#">INGRESO ADMINISTRATIVO</a>
                    {% endif %}
                </div>
            </div>
            {# {{dump(app.user)}} #}
            {% if app.user %}
                <div class="box-info-home">
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <p style="text-transform: capitalize;">
                                    <span class="label">{{'Nombre'|upper}}:</span>
                                    {{app.user.name|lower}}</p>
                                <p>
                                    <span class="label">{{'Puesto'|upper}}:</span>
                                    {% if app.user.role.description == "ROLE_ADMIN" %}
                                        Administrador
                                    {% elseif app.user.role.description == "ROLE_STUDENT" %}
                                        Estudiante
                                    {% elseif app.user.role.description == "ROLE_RESEARCHER" %}
                                        Investigador
                                    {% elseif app.user.role.description == "ROLE_EVALUATOR" %}
                                        Evaluador
                                    {% endif %}
                                </p>
                            </div>
                            <div class="col box-r">

                                <p>
                                    <span class="label">{{'Correo electrónico'|upper}}:</span>
                                    {{app.user.email|lower}}</p>
                                <p>
                                    <span class="label">{{'Cédula/Carné'|upper}}:</span>
                                    {{app.user.cedula_usuario}}
                                    {% if app.user.carnet != "" %}
                                        /
                                        {{app.user.carnet}}
                                    {% endif %}

                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="container-box-login">
            <div class="container">
                {% if ERROR == 'INVALID_CREDENTIALS' %}
                    <div class="row">
                        <div class="alert alert-danger text-center">
                            <strong>Error, wrong credentials.</strong>
                        </div>
                    </div>
                {% endif %}
                <div class="row">

                    <div class="col-8 ingreso-general-box-text">
                        <p>Deberán presentar una solicitud todas las investigaciones realizadas en el marco de la Universidad de Costa Rica, ya sean proyectos de investigación o trabajos finales de graduación, que requieran:</p>
                        <ul>
                            <li>la participación de seres humanos: biomédica intervencional u observacional o sociocultural</li>
                            <li>la revisión de información documental de seres humanos.</li>
                        </ul>
                        <p>Las solicitudes son evaluadas por el Comité Ético Científico de la Universidad de Costa Rica.</p>
                        <p>Todo el proceso de solicitud y evaluación se realiza de forma virtual y en esta misma plataforma podrá dar seguimiento al proceso de evaluación de su solicitud.</p>
                        <p class="small font-italic text-duda-login">Si tiene consultas, comuníquese al (506) 2511-4201 o a través del correo electrónico
                            <a href="mailto:cec@ucr.ac.cr">cec@ucr.ac.cr</a>
                        </p>
                    </div>
                    <div class="ingreso-general-box-text-admin d-none">
                        <div class="d-flex justify-content-center bd-highlight mb-3">
                            <div class="col-8">
                                <h3 class="text-center">Ingreso administrativo</h3>
                                <p>Por medio de este panel podrá evaluar las solicitudes de revisión de proyectos de investigación o trabajos finales de graduación, que hayan sido efectuados por personas investigadoras o estudiantes de la Universidad de Costa Rica.</p>
                                <p>Todo el proceso de solicitud, revisión y evaluación se realiza de forma virtual. Las y los involucrados serán notificados sobre el avance del proceso.</p>
                                <p class="small font-italic text-duda-login">Si tiene consultas, comuníquese al (506) 2511-4201 o a través del correo electrónico
                            <a href="mailto:cec@ucr.ac.cr">cec@ucr.ac.cr</a>
                        </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 login-box-body">
                        <p>INGRESE AL SISTEMA CON SUS CREDENCIALES INSTITUCIONALES</p>
                        {% for message in app.flashes('notice') %}
                            <div class="flash-notice">
                                <p class="text-danger">{{ message }}</p>
                            </div>
                        {% endfor %}
                        <form class="form-signin" action="?checkLogin" method="post">
                            <div class="form-group has-feedback">
                                <input name="email" type="text" class="form-control" placeholder="CORREO INSTITUCIONAL" value="{{ USER_EMAIL }}" autofocus required/>
                                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <input type="password" class="form-control" placeholder="CLAVE" name="password" value="{{ PASSWORD }}" required/>
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            </div>
                            <input type="hidden" name="login_admin" value="0">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">{{'Ingresar'|upper}}</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-1">
                    <a href="https://ucr.ac.cr" target="_blank">
                        <img src="{{ asset('images/firma_footer_ucr.png') }}" alt="CEC"/>
                        </a>
                    </div>
                    <div class="col-sm-6 infooter">
                        <div class="infooter-box">
                            <p>Comité Ético Científico</p>
                            <p class="tel">Teléfono: (506) 2511-4201 / (506) 2511-1398</p>
                            <p class="email">Correo electrónico:
                                <a href="mailto:cec@ucr.ac.cr">cec@ucr.ac.cr</a>
                            </p>
                            <p class="copy">Todos los derechos reservados. 2019. Universidad de Costa Rica.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <script>
            $.fn.extend({
                toggleText: function (a, b) {
                    return this.text(this.text() == b ? a : b);
                }
            });

            $(".ingreso-admin-home").click(function (e) {
                e.preventDefault();
                $(".ingreso-general-box-text").toggleClass("d-none");
                $(".ingreso-general-box-text-admin").toggleClass("d-none");
                $(".login-box-body").toggleClass("login-box-body-admin");
                $(this).toggleText('INGRESO ADMINISTRATIVO', 'Regresar');

                let op = $("input[name=login_admin]").val();

                if(op == 0){
                    $("input[name=login_admin]").val("1");
                }else{
                    $("input[name=login_admin]").val("0");
                }
                

            });

        </script>

        {% block javascripts %}
            {{ encore_entry_script_tags('variables') }}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('forms') }}
        {% endblock %}
    </body>
</html></body></html>
