{% extends 'base.html.twig' %}

{% block title %}LdapUser index{% endblock %}

{% block body %}
    <h1>LdapUser index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Username</th>
                <th>Name</th>
                <th>Password</th>
                <th>External</th>
                <th>LastLoginDate</th>
                <th>CreationDate</th>
                <th>DeletionDate</th>
                <th>Carnet</th>
                <th>Cedula_usuario</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ldap_user in ldap_users %}
            <tr>
                <td>{{ ldap_user.id }}</td>
                <td>{{ ldap_user.email }}</td>
                <td>{{ ldap_user.username }}</td>
                <td>{{ ldap_user.name }}</td>
                <td>{{ ldap_user.password }}</td>
                <td>{{ ldap_user.external ? 'Yes' : 'No' }}</td>
                <td>{{ ldap_user.lastLoginDate ? ldap_user.lastLoginDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ ldap_user.creationDate ? ldap_user.creationDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ ldap_user.deletionDate ? ldap_user.deletionDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ ldap_user.carnet }}</td>
                <td>{{ ldap_user.cedulaUsuario }}</td>
                <td>
                    <a href="{{ path('ldap_user_show', {'id': ldap_user.id}) }}">show</a>
                    <a href="{{ path('ldap_user_edit', {'id': ldap_user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ldap_user_new') }}">Create new</a>
{% endblock %}
