{% extends 'base.html.twig' %}

{# {% block title %}Usuarios{% endblock %} #}

{% block body %}
    {# <h1>Usuarios</h1> #}
    <p class="title-table-index">Usuarios</p>
    {# <pre>
        {{ dump(ldap_users) }}
    </pre> #}

    {# <table class="table" style="word-break: break-all;"> #}
    <table class="table table-responsive">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Correo</th>
                <th>Usuario</th>
                <th>Nombre</th>
                {# <th>Password</th> #}
                <th>Externo</th>
                <th>Última visita</th>
                {# <th>Creación</th> #}
                {# <th>DeletionDate</th> #}
                <th>Perfil</th>
                <th>Cédula</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for ldap_user in ldap_users %}
        {# <pre>
        {{ dump(ldap_user) }}
        </pre> #}
            <tr>
                {# <td>{{ ldap_user.id }}</td> #}
                <td style="word-break: break-all;">{{ ldap_user.email }}</td>
                <td>{{ ldap_user.username }}</td>
                <td>{{ ldap_user.name }}</td>
                {# <td>{{ ldap_user.password }}</td> #}
                <td>{{ ldap_user.external ? 'Yes' : 'No' }}</td>
                
                <td>{{ ldap_user.lastLoginDate ? ldap_user.lastLoginDate|date('Y-m-d H:i:s') : '' }}</td>
                {# <td>{{ ldap_user.creationDate ? ldap_user.creationDate|date('Y-m-d H:i:s') : '' }}</td> #}
                {# <td>{{ ldap_user.deletionDate ? ldap_user.deletionDate|date('Y-m-d H:i:s') : '' }}</td> #}
                {# <td>
                {% if ldap_user.deletionDate is defined %}
                    {{'Activo'}}
                {% else %}
                    {{ldap_user.deletionDate|date('Y-m-d H:i:s')}}
                {% endif %}
                </td> #}
                {# <td>{{ ldap_user.carnet }}</td> #}
                <td>{{ ldap_user.role.label }}</td>
                <td>{{ ldap_user.cedulausuario }}</td>
                <td class="d-flex justify-content-between">
                    <a class="btn-blue" href="{{ path('ldap_user_show', {'id': ldap_user.id}) }}">Mostrar </a>
                    
                    <a class="btn-blue" href="{{ path('ldap_user_edit', {'id': ldap_user.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('ldap_user_new') }}" class="btn btn-success">Crear usuario +</a> #}

    <a href="#" id="o_m_u" class="btn btn-success">Crear usuario +</a>
    {{ include('commons/_modal_create_user.html.twig') }}
    

    <script>
        $('#o_m_u').click(function(e){
            e.preventDefault();
            jQuery('#new_user_modal_open').modal('show');
        });
    </script>

{% endblock %}
