{# empty Twig template #}
<div class="email_template">
  <div class="email_template_header">
    <img src="http://catedrahumboldt.ucr.ac.cr/cec/public/images/logo_header_ucr.png" alt="CEC"/>
    <br>
    <img src="http://catedrahumboldt.ucr.ac.cr/cec/public/images/logo_correo.png" alt="CEC"/>
    <hr>
  </div>
  <div class="email_template_body">
    <p>Solicitud número: CEC-{{ project_request.id }}-{{ project_request.date|date("Y")[2:3] }}</p>
    <p>Proyecto: {{project_request.title}}</p>
    <p>Unidad: {{project_request.projectUnit}}</p>
    <p>Investigador / Estudiante responsable: {{project_request.owner.name}}</p>
    <a href="http://formularioscec.ucr.ac.cr{{path('project_request_index')}}" target="_blank">Ver solicitud</a>  

    {% if state is defined and state not empty%}
      <p>Estado: {{state}}</p>
    {% endif %}
    {% if details_eval is not empty %}
      <p>Observación: {{details_eval}}</p>
    {% endif %}
    
  </div>
</div>
