<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}CEC | Sistema de evaluación ética para la investigación con seres humanos{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{{ asset('images/favicon.png') }}"/>
    {% block stylesheets %}
      {{ encore_entry_link_tags('variables') }}
      {{ encore_entry_link_tags('app') }}
      {{ encore_entry_link_tags('forms') }}
    {% endblock %}
    {% block specific_stylesheets %} {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body>
    <div class="header">
      <div class="container">
        <a href="https://ucr.ac.cr" target="_blank">
          <img src="{{ asset('images/logo_header_ucr.png') }}" alt="CEC"/>
        </a>
      </div>
    </div>
    <div class="header-title">
      <div class="container">
        <div class="row menu-user-box">
          <div class="col">
            <h2>COMITÉ ÉTICO CIENTÍFICO</h2>
            <p style="margin: 0 0 10px 0;">Sistema de evaluación ética para la investigación con seres humanos</p>
          </div>
          {% if app.user %}
            <div class="dropdown menu-user">
              <button class="btn-menu-user dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{app.user.name|lower}}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item seguimiento-m" href="{{path('project_request_index')}}">SEGUIMIENTO DE SOLICITUDES</a>
                {% if app.user.role.description == "ROLE_ADMIN" %}
                  <a class="dropdown-item admin-m" href="{{path('ldap_user_index')}}">ADMINISTRAR USUARIOS</a>
                {% endif %}
                <a class="dropdown-item ayuda-m" href="{{path("ayuda")}}">AYUDA</a>
                <a class="dropdown-item cerrar-m" href="{{path("app_logout")}}">CERRAR SESIÓN</a>
              </div>
            </div>

          {% else %}
          <div class="dropdown menu-user">
              <button class="btn-menu-home dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menú
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{{path('default')}}">Inicio</a>
              </div>
            </div>

          {% endif %}
        </div>
      </div>
      {# {{dump(app.user)}} #}
      {% if app.user %}
        <div class="box-info-home">
          <div class="container">
            <div class="row">
              <div class="col-4">
                <p style="text-transform: capitalize;"><span class="label">{{'Nombre'|upper}}:</span> <strong>{{app.user.name|lower}}</strong></p>
                <p><span class="label">{{'Perfil'|upper}}:</span><strong> 
                    {% if app.user.role.description == "ROLE_ADMIN" %}
                      Administrador
                    {% elseif app.user.role.description == "ROLE_STUDENT" %}
                      Estudiante                                  
                    {% elseif app.user.role.description == "ROLE_RESEARCHER" %}
                      Investigador
                    {% elseif app.user.role.description == "ROLE_EVALUATOR" %}
                      Evaluador
                    {% endif %}
                  </strong>
                </p>
              </div>
              <div class="col box-r">

                <p><span class="label">{{'Correo electrónico'|upper}}:</span> <strong>{{app.user.email|lower}}</strong></p>
                <p><span class="label">{{'Cédula/Carné'|upper}}:</span><strong>
                    {{app.user.cedulausuario}}
                    {% if app.user.carnet != "" %}
                      / {{app.user.carnet}}
                    {% endif %}
                  </strong>
                </p>
              </div>

            </div>
          </div>
        </div>
      {% else %}
        <div class="box-info-home">
          <div class="container">
            <div class="row">
              <div class="col-4">
                
              </div>
              <div class="col box-r">

              </div>

            </div>
          </div>
        </div>
      {% endif %}
    </div>

    <div class="container ">
      <div class="row no-gutters">
        <div class="main-container col-12">
          {% block body %}{% endblock %}
        </div>
      </div>
    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-1">
            <a href="https://ucr.ac.cr" target="_blank">
              <img src="{{ asset('images/firma_footer_ucr.png') }}" alt="CEC"/>
            </a>
          </div>
          <div class="col-sm-6 infooter">
            <div class="infooter-box">
              <p>Comité Ético Científico</p>
              <p class="tel">Teléfono: (506) 2511-4201 / (506) 2511-1398</p>
              <p class="email">Correo electrónico: <a href="mailto:cec@ucr.ac.cr">cec@ucr.ac.cr</a></p>
              <p class="copy">Todos los derechos reservados. {{ "now"|date("Y") }}. Universidad de Costa Rica.</p>
            </div> 
          </div>
          <div class="col-sm-5">
            <a href="{{path("faqs")}}" class="fasq_home">Preguntas frecuentes</a>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    



    {% block javascripts %}
      {{ encore_entry_script_tags('variables') }}
      {{ encore_entry_script_tags('app') }}
      {{ encore_entry_script_tags('forms') }}
    {% endblock %}

    {% block specific_javascripts %}{% endblock %}
    <div class="modal fade" id="feedback_modal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title feedback_modal_title">Title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4 class="text-center feedback_modal_message" >Modal</h4>
          <p class="text-center text-muted feedback_modal_subMessage" >Modal</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
