    <!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('forms') }}
        {% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="header">
            <div class="container">
                <img src="{{ asset('images/logo_header_ucr.png') }}" alt="CEC"/>
            </div>
        </div>
        <div class="header-title">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2>COMITÉ ÉTICO CIENTÍFICO</h2>
                        <p>Sistema de evaluación ética para la investigación con seres humanos</p>
                    </div>
                    {% if app.user %}
                        {{app.user.username}}
                    {% else %}
                        <p>no session</p>
                    {% endif %}
                </div>
            </div>
            {{dump(app.user)}}
            {% if app.user %}
                <div class="box-info-home">
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <p>Nombre: {{app.user.username}}</p>
                                <p>Puesto: 
                                    {% if app.user.role.description == "ROLE_EVALUATOR" %}
                                        Administrador
                                    {% elseif app.user.role.description == "ROLE_STUDENT" %}
                                        Estudiante                                  {% elseif app.user.role.description == "ROLE_RESEARCHER" %}
                                        Investigador
                                    {% elseif app.user.role.description == "ROLE_EVALUATOR" %}
                                        Evaluador
                                    {% endif %}
                                </p>
                            </div>
                            <div class="col">
                                <p>Correo electronónico: {{app.user.email|lower}}</p>
                                <p>Cédula/Carné: </p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        

        
        
        
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-1">
                        <img src="{{ asset('images/firma_footer_ucr.png') }}" alt="CEC"/>
                    </div>
                    <div class="col-sm-5 infooter">
                        <div class="infooter-box">
                            <p>Comité Ético Científico</p>
                            <p class="tel">Teléfono: (506) 2511-4201 / (506) 2511-1398</p>
                            <p class="email">Correo electrónico: <a href="mailto:cec.vi@ucr.ac.cr">cec.vi@ucr.ac.cr</a></p>
                            <p class="copy">Todos los derechos reservados reservados. 2019. Universidad de Costa Rica.</p>
                        </div> 
                    </div>
                </div>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        


        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </body>
</html>
