<ul class="collecion_list uploaded_files_list tags" data-list-target='{{ questionCode }}' data-prototype="{{ form_widget(form_prototype)|e('html_attr') }}">
  {# iterate over each existing tag and render its only field: name #}
  {% for file in files if file.questionCode == questionCode %}
    <li class="uploaded_files_list_item">{{ file.originalName }} ({{ file.size }})
      <a class="uploaded_files_list_item--delete" data-id='{{ file.id }}' href="#">{{ delete_label }}</a>
    </li>
  {% endfor %}
  <li class="add_file_button_cont" data-new-item='{{ questionCode }}'>
    <button type='button' class='add_file_button btn btn-primary' data-list='{{ questionCode }}'>Agregar archivo</button>
  </li>
</ul>