<!-- Modal -->
<div class="modal fade" id="valdiate_send_user" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn-close-modalnew" data-dismiss="modal" aria-label="Close">
                    X
                </button>
            </div>
            <div class="modal-body">
                <div class="col">
                    <p>¿Confirma que ha completado la solicitud de revisión y desea enviar al Comité Ético Científico para su valoración?</p>

                    <small class="form-text text-muted">
                        <span class="file-advice">Tome en cuenta que una vez enviado, no podrá realizar ajustes.</span>
                    </small>
                    <small class="form-text text-muted">Confirme sus credenciales institucionales</small>
                    <form class="col-6 login-box-body-admin" action="{{ path('validate_user_send') }}" method="post" id="valdiate_send_user_form">

                        <div class="form-group has-feedback">
                            <input name="email" type="text" class="form-control" placeholder="CORREO INSTITUCIONAL" autofocus/>
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="password" class="form-control" placeholder="CLAVE" name="password"/>
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                        <small class="form-text text-muted font-italic d-none" id="errorUserReq">
                            <span class="file-advice">Usuario incorrecto.</span>
                        </small>
                        <div class="date-send">
                            <small class="form-text text-muted font-italic">Fecha de revisión:
                                {{ "now"|date("m/d/Y") }}</small>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block btn-flat" id="valdiate_send_user_submit">{{'CONFIRMAR ENVÍO'|upper}}</button>
                    </form>
                    <div class="d-none loadbox">
                        <img src="{{ asset('images/loadajax.gif') }}" alt="CEC"/>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-close-modalnew" data-dismiss="modal">Cancelar envio</button>
        </div>
    </div>
</div>
<!-- Modal new user -->
<div class="modal fade" id="new_user_modal_open" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn-close-modalnew" data-dismiss="modal" aria-label="Close">
                    X
                </button>
            </div>
            <div class="modal-body">
                <div class="col">
                    {# <p>entra</p> #}
                    {# {{ include('ldap_user/_form.html.twig') }} #}
                    {# {{ render(path('ldap_user_new')) }} #}{% form_theme form 'bootstrap_4_layout.html.twig' %}
                    {{ form_start(form,{attr: {id: 'ldap_user_new_modal_form'}}
                    ) }}
                        

                    
                    <div class="form-group">
                        <label for="tutor_name" class="col-sm-3 col-form-label no-label">Correo electrónico:</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.email) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tutor_name" class="col-sm-3 col-form-label no-label">Nombre de usuario:</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.username) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tutor_name" class="col-sm-3 col-form-label no-label">Rol:</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.role, {attr: {class: 'no-label'}, label_attr: {class: 'radio-custom'} }) }}
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="tutor_name" class="col-sm-3 col-form-label no-label">Nombre completo:</label>
                        <div class="col-sm-9 no-label">
                            {{ form_widget(form.name) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" class="tocheck-true"> Usuario Externo</input>
                    </div>
                    <div id="externo_box" class="d-none">
                        
                    
                    <div class="form-group">
                        <label for="tutor_name" class="col-sm-3 col-form-label no-label">Contraseña de acceso:</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.password.first) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tutor_name" class="col-sm-3 col-form-label no-label">Confirme la contraseña de acceso:</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.password.second) }}
                        </div>
                    </div>
                        <div class="form-group">
                        <label for="tutor_name" class="col-sm-3 col-form-label no-label">Cédula:</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.cedula_usuario) }}
                        </div>
                    </div>
                    

                    </div> 
                    {# fin externo_box #}

                    
                     <div class="form-group d-none">
                        <label for="tutor_name" class="col-sm-3 col-form-label no-label">Usuario externo:</label>
                        <div
                            class="col-sm-9">
                            {{ form_widget(form.external) }}
                            {{ form_row(form.external, {attr: {class: 'no-label'}, label_attr: {class: 'radio-custom'} }) }}
                        </div>
                    </div> 
                    {# <div class="form-group">
                                            <label for="tutor_name" class="col-sm-3 col-form-label no-label">Carné:</label>
                                            <div class="col-sm-9">
                                                {{ form_widget(form.carnet) }}
                                            </div>
                                        </div> #}
                    
                    <button class="btn btn-success" id="btn_new_user_modal">{{ button_label|default('Guardar') }}</button>
                    {{ form_end(form) }}
                </div>
            </div>

            <button type="button" class="btn btn-close-modalnew" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>

<script>
    $('input.tocheck-true').click(function(){
        jQuery("#externo_box").toggleClass("d-none");
    });
</script>
