
<!-- Modal new user -->
<div class="modal fade" id="new_user_modal_open" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn-close-modalnew" data-dismiss="modal" aria-label="Close">
                    X
                </button>
            </div>
            <div class="modal-body">
                <div class="col">{# <p>entra</p> #}
                    {# {{ include('ldap_user/_form.html.twig') }} #}
                    {# {{ render(path('ldap_user_new')) }} #}
                    {% form_theme form 'bootstrap_4_layout.html.twig' %}
                    {{ form_start(form,{attr: {id: 'ldap_user_new_modal_form'}}
                    ) }}
                    {{ form_errors(form)}}
                        <div class="form-group"> <label for="tutor_name" class="col-sm-3 col-form-label no-label">Correo electrónico:</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.email,{attr: {placeholder: 'CORREO INSTITUCIONAL'}}
                            ) }}
                          
                            
                        </div>
                        </div>
                        


                    <div class="form-group">
                        <label for="tutor_name" class="col-sm-3 col-form-label no-label">Nombre de usuario:</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.username) }}
                            <p class="small font-italic text-duda-login">Correo institucional sin dominio de la UCR, ejemplo: pepe.molina.</p>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="tutor_name" class="col-sm-3 col-form-label no-label">Rol:</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.role, {attr: {class: 'no-label'}, label_attr: {class: 'radio-custom'} }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="tutor_name" class="col-sm-3 col-form-label no-label">Nombre completo:</label>
                        <div class="col-sm-9 no-label">
                            {{ form_widget(form.name) }}
                            <p class="small font-italic text-duda-login">Correo institucional sin dominio de la UCR, ejemplo: pepe.molina.</p>
                        </div>

                    </div>
                    <div class="form-group">
                        <input type="checkbox" class="tocheck-true">
                        Usuario Externo</input>
                </div>
                <div id="externo_box" class="d-none">


                    <div class="form-group">
                        <label for="tutor_name" class="col-sm-3 col-form-label no-label">Contraseña de acceso:</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.password.first) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tutor_name" class="col-sm-3 col-form-label no-label">Confirme la contraseña de acceso:</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.password.second) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tutor_name" class="col-sm-3 col-form-label no-label">Cédula:</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.cedula_usuario) }}
                        </div>
                    </div>


                </div>
                {# fin externo_box #}


                <div class="form-group d-none">
                    <label for="tutor_name" class="col-sm-3 col-form-label no-label">Usuario externo:</label>
                    <div
                        class="col-sm-9">
                        {# {{ form_widget(form.external) }} #}
                        {{ form_row(form.external, {attr: {class: 'no-label'}, label_attr: {class: 'radio-custom'} }) }}
                    </div>
                </div>
                {# <div class="form-group">
                                                            <label for="tutor_name" class="col-sm-3 col-form-label no-label">Carné:</label>
                                                            <div class="col-sm-9">
                                                                {{ form_widget(form.carnet) }}
                                                            </div>
                                                        </div> #}

                <button class="btn btn-success" id="btn_new_user_modal">{{ button_label|default('Guardar') }}</button>
                {{ form_end(form) }}
            </div>
        </div>

        <button type="button" class="btn btn-close-modalnew" data-dismiss="modal">Cancelar</button>
    </div>
</div></div><script>
$('input.tocheck-true').click(function () {
    jQuery("#externo_box").toggleClass("d-none");
});</script>
