{% form_theme form 'bootstrap_4_layout.html.twig' %}
{# {{ form_start(form, {attr: {class: 'form-eval'}}) }} #}

<p class="title-form-evals">{{'PARA USO EXLUSIVO DEL COMITÉ ETICO CIENTÍFICO'|upper}}</p>
<!--Accordion wrapper-->
<div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

    <!-- Accordion card -->
    <div class="card">

        <!-- Card header -->
        <div class="card-header" role="tab" id="headingOne1">
            <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                <h5 class="mb-0">
                    Revisión de solicitud
                </h5>
            </a>
        </div>

        <!-- Card body -->
        <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
            <div class="card-body">
                {{ form_start(form, {attr: {class: 'form-request'}}) }}
                {{ form_row(form.status, {label_attr: {class: 'radio-custom no-label'}}) }}
                {{ form_row(form.observations, {label_attr: {class: 'no-label'} }) }}
                {{ form_end(form) }}
                {{ include('commons/_form_footer.html.twig', {'button_label':'Enviar revisión', 'button_label_save': 'Guardar sin enviar', 'finish': 1, 'active_btn_admin': true}) }}
                
                {{ include('commons/_modal_validate_user.html.twig') }}
            </div>
        </div>

    </div>
    <!-- Accordion card -->
</div>
<!-- Accordion wrapper -->

{% if pre_eval %}
<p class="title-table-index">{{'Resumen de evaluaciones previas'|upper}}</p>
<div id="accordion">
{% for pei in pre_eval %}
    {# <pre>
        {{ dump(pei) }}
    </pre> #}
    <div class="card">
    <div class="card-header" id="head-{{pei.id}}">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-{{pei.id}}" aria-expanded="true" aria-controls="collapseOne">
            Evaluación CEC-{{project_request.id}}-{{pei.date|date("Y")[2:3]}} | Fecha: {{pei.date|date("d/m/Y g:ia")}}
        </button>
      </h5>
    </div>

    <div id="collapse-{{pei.id}}" class="collapse" aria-labelledby="head-{{pei.id}}" data-parent="#accordion">
      <div class="card-body">
        <p>{{pei.observations}}</p>
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% endif %} 

<script>
    console.log('readi');
    jQuery("[for='pre_eval_request_status_31']").append('<a class="toolbox" href="#" data-placement="right" data-toggle="tooltip" title="El proceso de evaluación continúa para ser evaluada en una sesión ordinaria o extraordinaria del CEC">?</a>');
    jQuery("[for='pre_eval_request_status_32']").append('<a class="toolbox" href="#" data-placement="right" data-toggle="tooltip" title="Se devuelve al solicitante para subsane o corrección">?</a>');
    jQuery("[for='pre_eval_request_status_33']").append('<a class="toolbox" href="#" data-placement="right" data-toggle="tooltip" title="No implica ningún peligro ni comprometen a los participantes">?</a>');
    jQuery("[for='pre_eval_request_status_34']").append('<a class="toolbox" href="#" data-placement="right" data-toggle="tooltip" title="Por su naturaleza no están diseñadas para contribuir con nuevos conocimientos que sean generalizables (Ver “Lineamientos del Comité Ético Científico de la Universidad de Costa Rica para Investigaciones con Seres Humanos, Biomédicas y No Biomédicas”, numeral 9.3)">?</a>');
    jQuery("[for='pre_eval_request_status_35']").append('<a class="toolbox" href="#" data-placement="right" data-toggle="tooltip" title="Revisión de esta solicitud no compete al CEC">?</a>');


    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
