{% extends 'base.html.twig' %}

{% block title %}PreEvalRequest index{% endblock %}

{% block body %}
    <h1>PreEvalRequest index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Observations</th>
                <th>Date</th>
                <th>Current</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pre_eval_request in pre_eval_requests %}
            <tr>
                <td>{{ pre_eval_request.id }}</td>
                <td>{{ pre_eval_request.observations }}</td>
                <td>{{ pre_eval_request.date ? pre_eval_request.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ pre_eval_request.current ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('pre_eval_request_show', {'id': pre_eval_request.id}) }}">show</a>
                    <a href="{{ path('pre_eval_request_edit', {'id': pre_eval_request.id,'id_request': pre_eval_request.id_request}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pre_eval_request_new') }}">Create new</a>
{% endblock %}
